flows.json
[
    {
        "id": "8da03f1f.83f79",
        "type": "tab",
        "label": "Start batch"
    },
    {
        "id": "2119bf4b.5d876",
        "type": "tab",
        "label": "Q source filenames"
    },
    {
        "id": "a1e7fbe6.70cd98",
        "type": "tab",
        "label": "Q csv data"
    },
    {
        "id": "b1e12f56.bb884",
        "type": "tab",
        "label": "Control handler"
    },
    {
        "id": "daae5a1c.f52b48",
        "type": "tab",
        "label": "Source save"
    },
    {
        "id": "8186dfb9.8358a",
        "type": "subflow",
        "name": "Store Risk",
        "info": "is this a description?\n",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f4f77159.0f50e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 766,
                "y": 684,
                "wires": [
                    {
                        "id": "d846d8db.2da5b8",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "e71b891b.d54348",
        "type": "subflow",
        "name": "Test",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "bf9c95a1.7aa1c8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "bd123b44.3dee98",
        "type": "cloudant",
        "z": "",
        "host": "http://localhost:5984",
        "name": "test db"
    },
    {
        "id": "c58994c4.ef9f58",
        "type": "amqp-server",
        "z": "",
        "host": "192.168.99.100",
        "port": "5672",
        "vhost": "/",
        "keepalive": "30",
        "usetls": false,
        "verifyservercert": true,
        "usetopology": true,
        "topology": "{\n\t\"exchanges\": [\n\t\t{\"name\": \"redExchange\", \"type\": \"topic\", \"options\": {\"durable\": true}}\n\t],\n\t\"queues\": [\n\t    {\"name\": \"controlStart\" , \"options\": {\"durable\": true, \"persistent\":true}},\n\t    {\"name\": \"controlSourceDataStart\" , \"options\": {\"durable\": true, \"persistent\":true}},\n\t    {\"name\": \"controlCSVDataStart\" , \"options\": {\"durable\": true, \"persistent\":true}},\n\t\t{\"name\": \"dataSourcePolicy\" , \"options\": {\"durable\": true, \"persistent\":true}},\n\t\t{\"name\": \"dataSourceRisk\" , \"options\": {\"durable\": true, \"persistent\":true}},\n\t\t{\"name\": \"control\" , \"options\": {\"durable\": true, \"persistent\":true}}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"redExchange\", \"queue\": \"control\", \"pattern\": \"control.#\"},\n\t    {\"source\": \"redExchange\", \"queue\": \"controlSourceDataStart\", \"pattern\": \"control.source.data.start.#\"},\n        {\"source\": \"redExchange\", \"queue\": \"controlCSVDataStart\", \"pattern\": \"control.source.data.file.start.#\"},\n        {\"source\": \"redExchange\", \"queue\": \"dataSourcePolicy\", \"pattern\": \"data.source.#.policy.*\"},\n        {\"source\": \"redExchange\", \"queue\": \"dataSourcePolicy\", \"pattern\": \"data.source.#.risk.*\"}\t\t\n\t]\n}"
    },
    {
        "id": "5faad6a5.7fa1b8",
        "type": "function",
        "z": "8186dfb9.8358a",
        "name": "set key for lookupmsg",
        "func": "msg.topic = \"\";\n\nmsg.payload = msg.payload.key;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 506,
        "y": 72,
        "wires": [
            [
                "b5983cca.b259b"
            ]
        ]
    },
    {
        "id": "f4f77159.0f50e",
        "type": "change",
        "z": "8186dfb9.8358a",
        "name": "Get configurations",
        "rules": [
            {
                "t": "set",
                "p": "retryCount",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "inputPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 194,
        "y": 74,
        "wires": [
            [
                "5faad6a5.7fa1b8"
            ]
        ]
    },
    {
        "id": "a9b78673.f3af88",
        "type": "delay",
        "z": "8186dfb9.8358a",
        "name": "Random delay",
        "pauseType": "random",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "2",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 237,
        "y": 544,
        "wires": [
            [
                "ee95dc0e.bded"
            ]
        ]
    },
    {
        "id": "8d26659e.3ce8d8",
        "type": "catch",
        "z": "8186dfb9.8358a",
        "name": "Catch import risk errors",
        "scope": null,
        "x": 165,
        "y": 252,
        "wires": [
            [
                "d03f93e4.1f204"
            ]
        ]
    },
    {
        "id": "ee95dc0e.bded",
        "type": "function",
        "z": "8186dfb9.8358a",
        "name": "Increment retry count",
        "func": "if (msg.retryCount !== undefined && msg.retryCount !== null) {\n    msg.retryCount = msg.retryCount + 1;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 265,
        "y": 631,
        "wires": [
            [
                "d846d8db.2da5b8"
            ]
        ]
    },
    {
        "id": "7228211b.785d9",
        "type": "function",
        "z": "8186dfb9.8358a",
        "name": "Add risk to doc",
        "func": "if (msg.payload === undefined || msg.payload === null) \n{   \n    node.error(\"Missing payload\", msg);\n    \n}\n\nif (msg.payload.policy === undefined || msg.payload.policy === null) \n{   node.error(\"Missing payload.policy\", msg);\n    \n}\n\nif (msg.payload.policy.risks === undefined ) {\n    msg.payload.policy.risks = [];\n}\n\nif (msg.inputPayload.aggregated === undefined ||\n    msg.inputPayload.aggregated === null)  {\n    msg.payload.policy.risks.push(msg.inputPayload);\n} else {\n    msg.inputPayload.aggregated.forEach(function(element) {\n    msg.payload.policy.risks.push(element);\n    });\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1058,
        "y": 155,
        "wires": [
            [
                "b2d160b1.968aa"
            ]
        ]
    },
    {
        "id": "83a05326.2889b",
        "type": "debug",
        "z": "8186dfb9.8358a",
        "name": "Save error",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 255,
        "y": 174,
        "wires": []
    },
    {
        "id": "d846d8db.2da5b8",
        "type": "switch",
        "z": "8186dfb9.8358a",
        "name": "",
        "property": "retryCount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 521,
        "y": 753,
        "wires": [
            [
                "64b70d15.de3654"
            ],
            [
                "faf23c52.44b3e"
            ]
        ]
    },
    {
        "id": "a6b4d7a5.727458",
        "type": "debug",
        "z": "e71b891b.d54348",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 745,
        "y": 263,
        "wires": []
    },
    {
        "id": "bf9c95a1.7aa1c8",
        "type": "function",
        "z": "e71b891b.d54348",
        "name": "",
        "func": "msg.topic = \"in test debug log\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 69,
        "wires": [
            [
                "a4baf5ec.7f40b8"
            ]
        ]
    },
    {
        "id": "828caa84.4c1e68",
        "type": "debug",
        "z": "8186dfb9.8358a",
        "name": "Updating policy",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 953,
        "y": 447,
        "wires": []
    },
    {
        "id": "c1c915f3.69fa78",
        "type": "couchdb",
        "z": "e71b891b.d54348",
        "name": "look up policy",
        "serverUrl": "http://localhost:5984",
        "database": "test",
        "retrievalType": "byId",
        "designDoc": "",
        "viewName": "",
        "x": 492,
        "y": 224,
        "wires": [
            [
                "a6b4d7a5.727458"
            ]
        ]
    },
    {
        "id": "a4baf5ec.7f40b8",
        "type": "function",
        "z": "e71b891b.d54348",
        "name": "set key for lookupmsg",
        "func": "msg.payload = {};\nmsg.payload = 'policy:1490920438404:1:MOT:116258531' ;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 386,
        "y": 126,
        "wires": [
            [
                "c1c915f3.69fa78",
                "a6b4d7a5.727458"
            ]
        ]
    },
    {
        "id": "64b70d15.de3654",
        "type": "change",
        "z": "8186dfb9.8358a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "inputPayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 459,
        "y": 302,
        "wires": [
            [
                "5faad6a5.7fa1b8"
            ]
        ]
    },
    {
        "id": "faf23c52.44b3e",
        "type": "debug",
        "z": "8186dfb9.8358a",
        "name": "Given up retry",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "b2d160b1.968aa",
        "type": "cloudant out",
        "z": "8186dfb9.8358a",
        "name": "Save doc",
        "cloudant": "bd123b44.3dee98",
        "database": "test",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "outputmsg": "no",
        "x": 1066,
        "y": 281,
        "wires": []
    },
    {
        "id": "b5983cca.b259b",
        "type": "cloudant in",
        "z": "8186dfb9.8358a",
        "name": "Look up policy",
        "cloudant": "bd123b44.3dee98",
        "database": "test",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 786,
        "y": 115,
        "wires": [
            [
                "7228211b.785d9",
                "828caa84.4c1e68"
            ]
        ]
    },
    {
        "id": "d03f93e4.1f204",
        "type": "change",
        "z": "8186dfb9.8358a",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 184,
        "y": 488,
        "wires": [
            [
                "a9b78673.f3af88"
            ]
        ]
    },
    {
        "id": "ce5061b0.d902a",
        "type": "amqp in",
        "z": "b1e12f56.bb884",
        "name": "",
        "topic": "control.*.ABC",
        "iotype": "4",
        "ioname": "control",
        "server": "c58994c4.ef9f58",
        "x": 284,
        "y": 135,
        "wires": [
            [
                "b660c6a.69b6b38"
            ]
        ]
    },
    {
        "id": "74c44b26.1cd5a4",
        "type": "debug",
        "z": "b1e12f56.bb884",
        "name": "Q error",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 427,
        "y": 350,
        "wires": []
    },
    {
        "id": "55f03613.f32d38",
        "type": "catch",
        "z": "b1e12f56.bb884",
        "name": "",
        "scope": null,
        "x": 269,
        "y": 268,
        "wires": [
            [
                "74c44b26.1cd5a4"
            ]
        ]
    },
    {
        "id": "ae7e90ee.a3e9a",
        "type": "fs-file-lister",
        "z": "2119bf4b.5d876",
        "name": "list files",
        "start": "/",
        "pattern": "*.CSV",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": false,
        "x": 291,
        "y": 255,
        "wires": [
            [
                "833c60d9.85576"
            ]
        ]
    },
    {
        "id": "6d032834.bcfee8",
        "type": "debug",
        "z": "2119bf4b.5d876",
        "name": "Q source filenames",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 648,
        "y": 76,
        "wires": []
    },
    {
        "id": "e987207c.5a8be",
        "type": "inject",
        "z": "2119bf4b.5d876",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 124,
        "y": 500,
        "wires": [
            [
                "877d77e.744ce88"
            ]
        ]
    },
    {
        "id": "877d77e.744ce88",
        "type": "function",
        "z": "2119bf4b.5d876",
        "name": "Load configurations",
        "func": "\nfunction getRandom(min, max) {\n  min = Math.ceil(min);\n  max = Math.floor(max);\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nvar i = Date.now();\nvar jobConfig = {};\njobConfig.batchId = String(i) + \":\" + String(getRandom(100,999));\n//jobConfig.sourceDataPath = './sample/Current/';\njobConfig.sourceDataPath = './sample/Current/subset/';\n\nmsg.topic =  jobConfig.batchId;\nmsg.payload = {};\nmsg.payload.start = jobConfig.sourceDataPath;\nmsg.jobConfig = jobConfig;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 162,
        "y": 406,
        "wires": [
            [
                "ae7e90ee.a3e9a"
            ]
        ]
    },
    {
        "id": "833c60d9.85576",
        "type": "function",
        "z": "2119bf4b.5d876",
        "name": "qSourceFilesNamesOnOut",
        "func": "var proj = global.get('proj');\n\nreturn [proj.qSourceFilesNamesOnOut(msg, proj.expectedSourceFiles)];",
        "outputs": "1",
        "noerr": 0,
        "x": 480,
        "y": 317,
        "wires": [
            [
                "4757d24d.009a9c",
                "55849647.5f8a98"
            ]
        ]
    },
    {
        "id": "7395ff72.36d11",
        "type": "catch",
        "z": "2119bf4b.5d876",
        "name": "",
        "scope": null,
        "x": 445,
        "y": 69,
        "wires": [
            [
                "6d032834.bcfee8"
            ]
        ]
    },
    {
        "id": "b660c6a.69b6b38",
        "type": "function",
        "z": "b1e12f56.bb884",
        "name": "dev nul",
        "func": "\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 453,
        "y": 176,
        "wires": [
            []
        ]
    },
    {
        "id": "907ceb52.934958",
        "type": "amqp in",
        "z": "8da03f1f.83f79",
        "name": "",
        "topic": "",
        "iotype": "4",
        "ioname": "controlStart",
        "server": "c58994c4.ef9f58",
        "x": 189,
        "y": 110,
        "wires": [
            [
                "963ad610.2918f8"
            ]
        ]
    },
    {
        "id": "63a69a7d.9063e4",
        "type": "cloudant out",
        "z": "8da03f1f.83f79",
        "name": "",
        "cloudant": "bd123b44.3dee98",
        "database": "control",
        "service": "_ext_",
        "payonly": false,
        "operation": "insert",
        "outputmsg": "yes",
        "x": 201,
        "y": 353,
        "wires": [
            [
                "95d1d0bd.56e7e"
            ]
        ]
    },
    {
        "id": "963ad610.2918f8",
        "type": "function",
        "z": "8da03f1f.83f79",
        "name": "controlStartOnIn",
        "func": "return global.get('proj').controlStartOnIn(msg);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 194,
        "y": 247,
        "wires": [
            [
                "63a69a7d.9063e4"
            ]
        ]
    },
    {
        "id": "ed03e333.e2d31",
        "type": "debug",
        "z": "8da03f1f.83f79",
        "name": "Start batch",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 730,
        "y": 246,
        "wires": []
    },
    {
        "id": "aaedea3b.d35278",
        "type": "amqp out",
        "z": "8da03f1f.83f79",
        "name": "",
        "routingkey": "",
        "iotype": "3",
        "ioname": "redExchange",
        "server": "c58994c4.ef9f58",
        "x": 262,
        "y": 530,
        "wires": []
    },
    {
        "id": "95d1d0bd.56e7e",
        "type": "function",
        "z": "8da03f1f.83f79",
        "name": "controlStartOnOut",
        "func": "\nreturn global.get('proj').controlStartOnOut(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 245,
        "y": 445,
        "wires": [
            [
                "aaedea3b.d35278",
                "19f2927d.e89d9e"
            ]
        ]
    },
    {
        "id": "5c964629.e08d58",
        "type": "catch",
        "z": "8da03f1f.83f79",
        "name": "",
        "scope": null,
        "x": 528,
        "y": 185,
        "wires": [
            [
                "ed03e333.e2d31"
            ]
        ]
    },
    {
        "id": "884dd0b0.d2d24",
        "type": "amqp in",
        "z": "2119bf4b.5d876",
        "name": "",
        "topic": "",
        "iotype": "4",
        "ioname": "controlSourceDataStart",
        "server": "c58994c4.ef9f58",
        "x": 157,
        "y": 74,
        "wires": [
            [
                "4a45f994.71d058"
            ]
        ]
    },
    {
        "id": "36c7af0.60fa752",
        "type": "amqp out",
        "z": "a1e7fbe6.70cd98",
        "name": "",
        "routingkey": "",
        "iotype": "3",
        "ioname": "redExchange",
        "server": "c58994c4.ef9f58",
        "x": 568,
        "y": 490,
        "wires": []
    },
    {
        "id": "e3b5c712.fb6e78",
        "type": "bigcsv",
        "z": "a1e7fbe6.70cd98",
        "name": "",
        "filename": "",
        "x": 280,
        "y": 265,
        "wires": [
            [
                "3294af9d.f1fb9"
            ],
            [
                "12e15495.12d52b"
            ]
        ]
    },
    {
        "id": "3294af9d.f1fb9",
        "type": "function",
        "z": "a1e7fbe6.70cd98",
        "name": "qCSVDataOnOut",
        "func": "return global.get('proj').qCSVDataOnOut(msg); ",
        "outputs": 1,
        "noerr": 0,
        "x": 504,
        "y": 297,
        "wires": [
            [
                "ee769a0f.919698"
            ]
        ]
    },
    {
        "id": "19f2927d.e89d9e",
        "type": "debug",
        "z": "8da03f1f.83f79",
        "name": "Start batch debug",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 492,
        "y": 447,
        "wires": []
    },
    {
        "id": "4a45f994.71d058",
        "type": "function",
        "z": "2119bf4b.5d876",
        "name": "qSourceFilesNamesOnIn",
        "func": "\nreturn global.get('proj').qSourceFilesNamesOnIn(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 233,
        "y": 168,
        "wires": [
            [
                "ae7e90ee.a3e9a"
            ]
        ]
    },
    {
        "id": "55849647.5f8a98",
        "type": "amqp out",
        "z": "2119bf4b.5d876",
        "name": "",
        "routingkey": "",
        "iotype": "3",
        "ioname": "redExchange",
        "server": "c58994c4.ef9f58",
        "x": 574,
        "y": 420,
        "wires": []
    },
    {
        "id": "4757d24d.009a9c",
        "type": "debug",
        "z": "2119bf4b.5d876",
        "name": "Q source filenames debug",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 659,
        "y": 216,
        "wires": []
    },
    {
        "id": "ef02f37d.cb225",
        "type": "debug",
        "z": "a1e7fbe6.70cd98",
        "name": "Q csv data",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 666,
        "y": 97,
        "wires": []
    },
    {
        "id": "62386666.eaed38",
        "type": "catch",
        "z": "a1e7fbe6.70cd98",
        "name": "",
        "scope": null,
        "x": 493,
        "y": 90,
        "wires": [
            [
                "ef02f37d.cb225"
            ]
        ]
    },
    {
        "id": "d6f86184.71bf7",
        "type": "amqp in",
        "z": "a1e7fbe6.70cd98",
        "name": "",
        "topic": "",
        "iotype": "4",
        "ioname": "controlCSVDataStart",
        "server": "c58994c4.ef9f58",
        "x": 139,
        "y": 74,
        "wires": [
            [
                "5eb6cddf.98a534"
            ]
        ]
    },
    {
        "id": "5eb6cddf.98a534",
        "type": "function",
        "z": "a1e7fbe6.70cd98",
        "name": "qCSVDataOnIn",
        "func": "\nreturn global.get('proj').qCSVDataOnIn(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 185,
        "y": 168,
        "wires": [
            [
                "e3b5c712.fb6e78"
            ]
        ]
    },
    {
        "id": "e95f9500.14ddd8",
        "type": "debug",
        "z": "a1e7fbe6.70cd98",
        "name": "Q csv data debug",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 373,
        "y": 603,
        "wires": []
    },
    {
        "id": "ee769a0f.919698",
        "type": "function",
        "z": "a1e7fbe6.70cd98",
        "name": "simpleBuffer",
        "func": "return global.get('proj').simpleBuffer(node, context, msg);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 393,
        "wires": [
            [
                "36c7af0.60fa752"
            ]
        ]
    },
    {
        "id": "12e15495.12d52b",
        "type": "function",
        "z": "a1e7fbe6.70cd98",
        "name": "qCSVControlOnOut",
        "func": "return global.get('proj').qCSVControlOnOut(msg); ",
        "outputs": 1,
        "noerr": 0,
        "x": 278,
        "y": 416,
        "wires": [
            [
                "36c7af0.60fa752",
                "e95f9500.14ddd8"
            ]
        ]
    },
    {
        "id": "df77d8c3.6e3248",
        "type": "inject",
        "z": "daae5a1c.f52b48",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 233,
        "y": 704,
        "wires": [
            [
                "621091d4.b2b04"
            ]
        ]
    },
    {
        "id": "77b21627.aa29c8",
        "type": "function",
        "z": "daae5a1c.f52b48",
        "name": "srcSaveOnIn",
        "func": "\nreturn global.get('proj').srcSaveOnIn(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 248,
        "wires": [
            [
                "d5d1a4a6.fda418"
            ]
        ]
    },
    {
        "id": "d5d1a4a6.fda418",
        "type": "cloudant in",
        "z": "daae5a1c.f52b48",
        "name": "Find root document",
        "cloudant": "bd123b44.3dee98",
        "database": "data",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 289,
        "y": 478,
        "wires": [
            [
                "bda916d4.aa3e08"
            ]
        ]
    },
    {
        "id": "bda916d4.aa3e08",
        "type": "function",
        "z": "daae5a1c.f52b48",
        "name": "srcSaveAddToRootDoc",
        "func": "return global.get('proj').srcSaveAddToRootDoc(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 554,
        "y": 480,
        "wires": [
            [
                "e8b4e905.122668"
            ]
        ]
    },
    {
        "id": "e8b4e905.122668",
        "type": "cloudant out",
        "z": "daae5a1c.f52b48",
        "name": "Save document",
        "cloudant": "bd123b44.3dee98",
        "database": "data",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "outputmsg": "no",
        "x": 829,
        "y": 478,
        "wires": []
    },
    {
        "id": "671ef6ea.3f6d48",
        "type": "delay",
        "z": "daae5a1c.f52b48",
        "name": "Random delay",
        "pauseType": "random",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "2",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 541,
        "y": 368,
        "wires": [
            [
                "d5d1a4a6.fda418"
            ]
        ]
    },
    {
        "id": "27be681c.63a648",
        "type": "catch",
        "z": "daae5a1c.f52b48",
        "name": "Catch All",
        "scope": null,
        "x": 524,
        "y": 71,
        "wires": [
            [
                "2e77593c.1e5526"
            ]
        ]
    },
    {
        "id": "2e77593c.1e5526",
        "type": "function",
        "z": "daae5a1c.f52b48",
        "name": "srcSaveErrorRouter",
        "func": "\nreturn global.get('proj').srcSaveErrorRouter(msg);",
        "outputs": "3",
        "noerr": 0,
        "x": 571,
        "y": 158,
        "wires": [
            [
                "231578ac.2b95f8"
            ],
            [
                "4a3c54c8.af2c5c"
            ],
            [
                "26a93c77.97f864"
            ]
        ]
    },
    {
        "id": "231578ac.2b95f8",
        "type": "debug",
        "z": "daae5a1c.f52b48",
        "name": "Source save",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 895,
        "y": 68,
        "wires": []
    },
    {
        "id": "4a3c54c8.af2c5c",
        "type": "function",
        "z": "daae5a1c.f52b48",
        "name": "srcSaveNewRootDoc",
        "func": "\nreturn global.get('proj').srcSaveNewRootDoc(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 253,
        "wires": [
            [
                "e8b4e905.122668"
            ]
        ]
    },
    {
        "id": "26a93c77.97f864",
        "type": "function",
        "z": "daae5a1c.f52b48",
        "name": "srcSaveRetry",
        "func": "if (msg.retryCount !== undefined && msg.retryCount !== null) {\n    msg.retryCount = msg.retryCount + 1;\n}\nreturn global.get('proj').srcSaveRetry(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 553,
        "y": 251,
        "wires": [
            [
                "671ef6ea.3f6d48"
            ]
        ]
    },
    {
        "id": "1f1a3369.e8587d",
        "type": "amqp in",
        "z": "daae5a1c.f52b48",
        "name": "",
        "topic": "",
        "iotype": "4",
        "ioname": "dataSourcePolicy",
        "server": "c58994c4.ef9f58",
        "x": 163,
        "y": 62,
        "wires": [
            [
                "77b21627.aa29c8"
            ]
        ]
    },
    {
        "id": "621091d4.b2b04",
        "type": "function",
        "z": "daae5a1c.f52b48",
        "name": "make test doc",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 474,
        "y": 705,
        "wires": [
            [
                "312e4857.3cd5a8"
            ]
        ]
    },
    {
        "id": "312e4857.3cd5a8",
        "type": "amqp out",
        "z": "daae5a1c.f52b48",
        "name": "",
        "routingkey": "",
        "iotype": "0",
        "ioname": "redExchange",
        "server": "c58994c4.ef9f58",
        "x": 716,
        "y": 705,
        "wires": []
    }
]